In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

In [23]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [25]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [13]:
news_title =soup.find('li',class_='slide').find('div',class_='content_title').find('a').text

In [14]:
news_title

"NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound"

In [21]:
news_p =soup.find('li',class_='slide').find('div',class_='article_teaser_body').text

news_p

"The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet."

In [26]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [27]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [28]:
browser.links.find_by_partial_text('FULL IMAGE')

/Users/owner/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/splinter/driver/webdriver/__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [29]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [37]:
imgtag = soup.find('div',class_='fancybox-inner fancybox-skin fancybox-dark-skin fancybox-dark-skin-open').find('img')['src']

In [38]:
featured_image_url = url + imgtag
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/mediumsize/PIA18846_ip.jpg'

In [39]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [40]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [41]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [52]:
mars_weather = soup.find('div',class_='css-1dbjc4n r-1iusvr4 r-16y2uox r-1777fci r-5f2r5o r-1mi0q7o').\
    find('div',class_='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0').\
find('span',class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0').text

'InSight sol 524 (2020-05-18) low -92.5ºC (-134.4ºF) high 0.5ºC (32.9ºF)\nwinds from the SW at 4.8 m/s (10.7 mph) gusting to 15.3 m/s (34.3 mph)\npressure at 7.00 hPa'

In [53]:
import pandas as pd

In [54]:
url = 'https://space-facts.com/mars/'

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [55]:
tables = pd.read_html(url)

In [57]:
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [58]:
df = tables[0]
df.columns = ['Description','Values']
df

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [112]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [113]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [102]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [80]:
browser.click_link_by_partial_text('Cerberus Hemisphere Enhanced')

In [81]:
browser.click_link_by_partial_text('Open')

In [110]:
soup.find('div',class_='wide-image-wrapper').find_all('img')[1]['src']

AttributeError: 'NoneType' object has no attribute 'find_all'

In [114]:
HempList = ['Cerberus Hemisphere Enhanced',
            'Schiaparelli Hemisphere Enhanced',
            'Syrtis Major Hemisphere Enhanced',
            'Valles Marineris Hemisphere Enhanced']
hemisphere_image_urls = []


for x in range(0, 3):
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    browser.click_link_by_partial_text(HempList[x])
    print(HempList[x])
    #browser.click_link_by_partial_text('Open')
    imgurl = soup.find('div',class_='wide-image-wrapper').find_all('img')[1]['src']
    print({'title': HempList[x], 'img_url' :imgurl})
    hemisphere_image_urls.append({'title': HempList[x], 'img_url' :imgurl})

Cerberus Hemisphere Enhanced

AttributeError: 'NoneType' object has no attribute 'find_all'